@import "tailwindcss";

@font-face {
  font-family: "HeadingNow";
  src: url("src/assets/fonts/heading_now/HeadingNowTrial-45Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Haas";
  src: url("src/assets/fonts/alte_haas_grotesk/AlteHaasGroteskRegular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Haas";
  src: url("src/assets/fonts/alte_haas_grotesk/AlteHaasGroteskBold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Stretch"; 
  src: url("src/assets/fonts/StretchPro.otf");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "Haas", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
